.movies {
  /* background-color: var(--color-primary); */
}
.movies h1 {
  font-size: 2rem;
  color: var(--text-color-primary);
  padding-left: 1.5rem;
  text-shadow: var(--text-shadow-primary);
}
.movies-container {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  margin: 1rem;
  padding: 1rem;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.movies-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@media (min-width: 768px) {
  .movies-container {
    display: flex;
    gap: 0.5rem;
    overflow-x: scroll;
    margin: 0 auto;
    padding: 1rem;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--color-secondary) var(--color-primary); /* For Firefox */
    -ms-overflow-style: auto; /* For Internet Explorer and Edge */
  }

  .movies-container::-webkit-scrollbar {
    display: block;
    height: 8px;
  }
}
