header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
  color: lightgrey;
  transition: color 0.2s;
  cursor: pointer;
}
