/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --color-primary: #3b424e;
  --color-secondary: #282c34;
  --color-primary-faded: #3b424eac;
  --color-secondary-faded: #282c34a9;
  --color-primary-gradient: #3b424e20;
  --color-secondary-gradient: #282c34;
  --text-color-primary: #ffffff;
  --footer-height: 25px;
  --header-height: 100px;
}

/* App layout structure */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
